In [1]:
income = 45000
tax = 0
if income > 20000:
    tax += min(10000, income - 20000) * 0.2
    income -= min(10000, income - 20000)
if income > 10000:
    tax += min(10000, income - 10000) * 0.1
    income -= min(10000, income - 10000)
if income > 0:
    tax += income * 0.0

print("Income tax payable:", tax)

Income tax payable: 3000.0

In [2]:
angle1 = float(input("Enter the first angle: "))
angle2 = float(input("Enter the second angle: "))
angle3 = float(input("Enter the third angle: "))
if angle1 + angle2 + angle3 == 180:
    print("The angles can form a triangle.")
else:
    print("The angles cannot form a triangle.")

Enter the first angle:  60
Enter the second angle:  70
Enter the third angle:  80

The angles cannot form a triangle.

In [8]:
temperature = float(input("Enter the temperature: "))
humidity = float(input("Enter the humidity: "))
if temperature < 0:
    if humidity < 50:
        print("It's cold and dry.")
    else:
        print("It's cold and humid.")
elif temperature >= 0 and temperature < 15:
    if humidity < 50:
        print("It's cool and dry.")
    else:
        print("It's cool and humid.")
elif temperature >= 15 and temperature < 25:
    if humidity < 50:
        print("It's moderate and dry.")
    else:
        print("It's moderate and humid.")
else:
    if humidity < 50:
        print("It's warm and dry.")
    else:
        print("It's warm and humid.")

Enter the temperature:  60
Enter the humidity:  70

It's warm and humid.

In [15]:
menu=int(input("enter 1 for converting 1cm to ft,2 for converting"))
if menu==1:
    cm=float(input("enter length in cm:"))
    ft = cm* 0.0328084
    print (cm,"cm is equal to",ft,"ft")
elif menu==2:
    km=float(input("enter is distance to km:"))
    miles = km*0.621371
    print(km,"km is equal to",miles,"miles")
elif menu==3:
    usd = float(input("enter amountin usd:"))
    inr=usd * 83.50
    print(usd,"usd is equal to",inr,"INR")
elif menu==4:
    print("exit")
else:
    print("invalid input")

enter 1 for converting 1cm to ft,2 for converting 83

invalid input

In [9]:
for num in range(-10, 0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [10]:
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [11]:
for num in range(1, 6):
    print(num, end=' ')
else:
    print("Done!")

1 2 3 4 5 Done!

In [20]:
fact=1
x=int(input("enter a number"))
for i in range(1,x + 1):
    fact=fact*int(i)
    x=x+i
print(fact)

enter a number 4

24

In [21]:
x=int(input("enter a number"))
print(1**4)

enter a number 24

1

In [24]:
cost_price = float(input("Enter the cost price: "))
selling_price = float(input("Enter the selling price: "))
if selling_price > cost_price:
    profit = selling_price - cost_price
    print(f"Profit: ${profit:.2f}")
elif selling_price < cost_price:
    loss = cost_price - selling_price
    print(f"Loss: ${loss:.2f}")
else:
    ("no profit,no loss")

Enter the cost price:  20
Enter the selling price:  40

Profit: $20.00

In [25]:
current = 0
previous = 0
for i in range(10):
    print(current)
    current += previous
    previous = current - previous if current != 0 else 1

0
0
1
1
2
3
5
8
13
21

In [26]:
for i in range(1, 11):
    print(f"Multiplication Table for {i}:")
    for j in range(1, 11):
        print(f"{i} * {j} = {i*j}")
    print()

Multiplication Table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication Table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication Table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication Table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication Table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Multiplication Table for 6:
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Multiplication Table for 7:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Multiplication Table for 8:
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Multiplication Table for 9:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Multiplication Table for 10:
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [27]:
armstrong_numbers = []
for num in range(100, 1000):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    if num == sum:
        armstrong_numbers.append(num)

print("Armstrong numbers in the range of 100 to 1000:", armstrong_numbers)

Armstrong numbers in the range of 100 to 1000: [153, 370, 371, 407]