In [10]:
i=0
while(i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [6]:
i=0
while(i<11):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [8]:
i=5
while(i<25):
    print(i)
    i+=5
    break

5

In [16]:
m="hey tushar hello aman hey naina tushar"
myset=m.split()
sum=set(myset)
print (sum)

{'tushar', 'aman', 'naina', 'hello', 'hey'}

In [18]:
m="hey tushar hello aman hey naina tushar"
myset=m.split()
sum={}
for i in myset:
    if i in sum:
        sum[i] = sum[i]+1
    else: 
        sum [i] =1
print(sum)

{'hey': 2, 'tushar': 2, 'hello': 1, 'aman': 1, 'naina': 1}