In [1]:
# Input your name into a variable called $name and then print "Hello, <your name here>".
name = input("Enter your name: ")
print("Hello,", name)

Enter your name:  shuchi

Hello, shuchi

In [6]:
    num1 = float(input(" Enter the first number: ")) 
    num2 = float(input(" Enter the second number: "))
    sum = num1 + num2
    if sum > 0:
        print("The sum is positive.")
    elif sum < 0:
        print("The sum is negative.")
    else:
        print("The sum is zero.")

 Enter the first number:  12
 Enter the second number:  34

The sum is positive.

In [3]:
 correct_number = 42
 while True:
        try:
            user_input = int(input("Enter the correct number: "))
            if user_input == correct_number:
                print("Correct!")
                break  
            else:
                print("Incorrect! Try again.")
        except ValueError:
            print("Please enter a valid integer.")

Enter the correct number:  45

Incorrect! Try again.

Enter the correct number:  42

Correct!

In [4]:
firstname = input("Enter your first name: ")
lastname = input("Enter your last name: ")
wholename = firstname + '.' + lastname
print("Full name:", wholename)

Enter your first name:  shuchi
Enter your last name:  sharma

Full name: shuchi.sharma

In [8]:
input_string = input("Enter a string: ")
toggled_string = input_string.swapcase()
print("Toggled string:", toggled_string)

Enter a string:  42

Toggled string: 42

In [17]:
def histogram(numbers):
    for num in numbers:
        print('*' * num)

# Example usage:
histogram([4, 9, 7])

****
*********
*******

In [19]:
hundred_meters = ['Vikay', 'John', 'Kumar', 'Rajesh', 'Malar', 'Vaihai']
two_hundred_meters = ['Vetry', 'Petter', 'Priyanka', 'Kumar', 'Malar']

# Convert lists to sets for easier manipulation
hundred_meters_set = set(hundred_meters)
two_hundred_meters_set = set(two_hundred_meters)

# a. Athletes who participated only in 100m race
only_100m = hundred_meters_set - two_hundred_meters_set

# b. Athletes who participated only in 200m race
only_200m = two_hundred_meters_set - hundred_meters_set

# c. Athletes who participated both in 100m and 200m race
both_races = hundred_meters_set & two_hundred_meters_set

# d. Athletes who participated only in one race
only_one_race = only_100m.union(only_200m)

# Print the results
print("Athletes who participated only in 100m race:", only_100m)
print("Athletes who participated only in 200m race:", only_200m)
print("Athletes who participated both in 100m and 200m race:", both_races)
print("Athletes who participated only in one race:", only_one_race)

Athletes who participated only in 100m race: {'John', 'Rajesh', 'Vikay', 'Vaihai'}
Athletes who participated only in 200m race: {'Petter', 'Priyanka', 'Vetry'}
Athletes who participated both in 100m and 200m race: {'Malar', 'Kumar'}
Athletes who participated only in one race: {'John', 'Rajesh', 'Petter', 'Priyanka', 'Vikay', 'Vaihai', 'Vetry'}

In [20]:
list_numbers = [5, 8, 4, 18, 8, 55, 6, 8, 3, 18, 5, 3, 44]
count_dict = {}
for num in list_numbers:
    if num in count_dict:
        count_dict[num] += 1
    else:
        count_dict[num] = 1
duplicate_numbers = [num for num, count in count_dict.items() if count > 1]

print("Duplicate numbers:", duplicate_numbers)

Duplicate numbers: [5, 8, 18, 3]

In [21]:
original_list = ["cat", "tiger", "lion", "zebra", "crocodile", "snack"]
reversed_list = []
for i in range(len(original_list) - 1, -1, -1):
    reversed_list.append(original_list[i])

print("Reversed list:", reversed_list)

Reversed list: ['snack', 'crocodile', 'zebra', 'lion', 'tiger', 'cat']